 .vut
  &.vutton--8
    --vut-component: vut-var('primary')
    background: transparent
    color vut-color('component', 1)
    // overflow hidden
    border 0px
    padding: $vut-padding-h $vut-padding-w !important
    border-radius: 0px !important
    border 2px solid vut-color('component', 1)
    >span
      z-index 200
      position relative
    &:after
      content ''
      position absolute
      top 4px
      left 4px
      width: 100%
      height 100%
      z-index 100
      background: vut-color('component', 1)
      transition $vut-transition
    &:before
      content ''
      position absolute
      top 0px
      left 0px
      width: 100%
      height 100%
      z-index 200
      background: rgb(255,255,255)
      transition $vut-transition
    &:hover:not(.vutton__loading):not(.vutton__active):not(.vutton__submit)
      &:after
        width: 100%
    &:disabled
      &:after
        width: 0px
    &:active
      opacity .8
      &:after
        top 6px
        left 6px
    &.vutton__active
      background vut-color('component',.1)
      color vut-color('component',1)
      &:after
        width: 100%
    &.vutton__loading
      pointer-events: none
      user-select none
      &:after
        width: 100%
      .vut-loading
        opacity 1
        visibility: visible
        background: rgba(255,255,255,.8)
        .load
          border 2px solid vut-color('component', 1)
          border-left 2px solid transparent
          border-top 2px solid transparent
          border-right 2px solid transparent
        .load2
          border 2px solid vut-color('component', 1)
          border-left 2px solid transparent
          border-top 2px solid transparent
          border-right 2px solid transparent
    &.vutton__submit
      pointer-events: none
      user-select none
      &:after
        width: 100%
      .vut-submit
        opacity 1
        visibility: visible

    &.vutton--extraLarge
      padding: ($vut-padding-h * 1.5 ) ( $vut-padding-w * 1.5 )
    &.vutton--large
      padding: ($vut-padding-h * 1.2 ) ( $vut-padding-w * 1.2 )
    &.vutton--small
      padding: ( $vut-padding-h / 1.4 ) ( $vut-padding-w / 1.4)
    &.vutton--mini
      padding: ($vut-padding-h / 2.2 )  ( $vut-padding-w / 2.2 )
