/*
GLOBAL COLORS
*/

$vut-colors := ('primary' 'secondary' 'danger' 'success' 'warning' 'dark' 'light')

:root {
  --vut-primary: 114, 137, 218
  --vut-secondary : 121, 49, 177
  --vut-danger: 255, 71, 87
  --vut-success: 70, 201, 58
  --vut-warning: 255,186,0
  --vut-dark: 30, 30, 30
  --vut-light: 245, 245, 245
}


