/*-----------------
    Global Vars
------------------*/

$vut-padding-w := 10px
$vut-padding-h := 8px
$vut-margin := 0px 3px
$vut-cursor := pointer
$vut-font-size := 13px
$vut-transition := all .25s ease
$vut-text-color := rgb(255,255,255)
$vut-border-radius := 3px
